/.vs

/YoutubeDownloader/bin/*
/YoutubeDownloader/obj/*
/YoutubeDownloader/YoutubeDownloader.csproj.user

/YoutubeDownloaderWinForms/bin/*
/YoutubeDownloaderWinForms/obj/*
/YoutubeDownloaderWinForms/YoutubeDownloaderWinForms.csproj.user
