/.vs

/YoutubeDownloader/bin/*
/YoutubeDownloader/obj/*
/YoutubeDownloader/YoutubeDownloader.csproj.user

/YoutubeDownloaderMobile/bin/*
/YoutubeDownloaderMobile/obj/*
/YoutubeDownloaderMobile/YoutubeDownloaderMobile.csproj.user
