/.vs

/YoutubeDownloader/bin/*
/YoutubeDownloader/obj/*
/YoutubeDownloader/keystore.csproj.user

/YoutubeDownloaderMobile/bin/*
/YoutubeDownloaderMobile/obj/*
/YoutubeDownloaderMobile/keystore.csproj.user
